<div id="container-instructions">

    <h1>Instructions</h1>

    <div class="instructions well">
        
        <p>
            Here is another example. Think of the relationship between these words:
        </p>
        <br/>
        <p align="center">
            <b>chick</b> : <b>chicken</b>
        </p>
        <br/>
        <p>
            How similar to that is the relationship between the following words?
        </p>
        <br/>
        <p align="center">
            <b>hen</b> : <b>rooster</b> 
        </p>
        <br/>
        <p>
            In this example, the <b>relationship</b> between the second pair of words (a hen is a female
            chicken and a rooster is a male chicken) is not similar to the <b>relationship</b> between the
            first pair of words, even though both pairs of words are about the same kind of animal.
        </p>
        <p>
            On each of the following pages, please rate how similar the relationship between
            the second pair of words is to the relationship between the first pair of words on a
            scale from 1 (not at all similar) to 7 (extremely similar). Please take your time and
            make your ratings carefully. Note that the order of words within each pair matters (so
            kitten : cat is not the same as cat : kitten) and that each word's part of speech
            (noun, adjective, etc.) also matters.
        </p>

        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <div class="instructionsnav">
    	<!--  Maybe not previous button on this screen? -->
        <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous" style="float:left">
            Previous
        </button>
        <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue" style="float:right">
        Begin</button>
    </div>
    <br/>
    <br/>

</div>
