<div id="container-instructions">

    <h1>Instructions</h1>

    <div class="instructions well">

        <p>
            In this task, you will rate the similarity of relationships between words. On each
            page, you will first see a pair of words, such as:
        </p>
        <br/>
        <p align="center">
            <b>kitten</b> : <b>cat</b>
        </p>
        <br/>
        <p>
            You will be asked to think of the <b>relationship</b> between these words (for example,
            a kitten is a young cat). Then, after a brief delay, you will see a different pair of
            words, such as:
        </p>
        <br/>
        <p align="center">
            <b>chick</b> : <b>chicken</b>
        </p>
        <br/>
        <p>
            Your task is to rate how similar the <b>relationship</b> between the second pair of words is
            to the <b>relationship</b> between the first pair of words. In this example, the second
            relationship (a chick is a young chicken) is very similar to the first one, even though
            the two pairs of words are about different kinds of animals.
        </p>

        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <div class="instructionsnav">
        <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue" style="float:right">
        Next</button>
    </div>
    <br/>
    <br/>

</div>
